
<!-- Put this in the HTML section in JSFiddle! -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p v-if='show'>You can see me! <span>Hello!</span></p>
  <p v-else>Now you see me!</p>
  
  <!-- template is not rendered, only what is inside of it -->
  <template v-if='show'>
    <h1>Heading</h1>
    <p>Inside a template</p>
  </template>
  
  <!-- v-show does not detach the element, unlike v-if -->
  <p v-show='show'>Do you also see me?</p>
  <button @click='show = !show'>Switch</button>
</div>